<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.GoodsMapper">

    <resultMap id="BaseResultMap" type="com.test.pojo.entity.Goods">
            <id property="goodsId" column="goods_id" jdbcType="BIGINT"/>
            <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
            <result property="goodsPrice" column="goods_price" jdbcType="DOUBLE"/>
            <result property="goodsDesc" column="goods_desc" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="BIGINT"/>
            <result property="sizeId" column="size_id" jdbcType="BIGINT"/>
            <result property="inventory" column="inventory" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="DATE"/>
            <result property="updateTime" column="update_time" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        goods_id,goods_name,goods_price,
        goods_desc,category_id,size_id,inventory,create_time,
        update_time
    </sql>
    <insert id="insert" useGeneratedKeys="true" keyProperty="goodsId">
        insert into goods (goods_name, goods_price, goods_desc, category_id, size_id, inventory, create_time, update_time)
        VALUES (#{goodsName},#{goodsPrice},#{goodsDesc},#{categoryId},#{sizeId},#{inventory},#{createTime},#{updateTime})
    </insert>


    <update id="update">
        update goods
        <set>
            <if test=" goodsName!=null">goods_name=#{goodsName},</if>
            <if test=" goodsPrice!=null">goods_price=#{goodsPrice},</if>
            <if test=" goodsDesc!=null">goods_desc=#{goodsDesc},</if>
            <if test=" categoryId!=null">category_id=#{categoryId},</if>
            <if test=" sizeId!=null">size_id=#{sizeId},</if>
            <if test=" inventory!=null">inventory=#{inventory},</if>
            <if test=" updateTime!=null">update_time=#{updateTime},</if>
        </set>
        where goods_id=#{goodsId}
    </update>
    <select id="pageQuery" resultType="com.test.pojo.VO.GoodsPageVO">
        SELECT g.*,c.category_name,s.size_name,i.src FROM goods g
            LEFT OUTER JOIN category c ON g.category_id = c.category_id
            LEFT OUTER JOIN size s ON s.size_id = g.size_id
            LEFT OUTER JOIN img i ON g.goods_id = i.goods_id

        <where>
            <if test="goodsName != null">
                and g.goods_name like concat('%',#{goodsName},'%')
            </if>
            <if test="categoryName != null">
                and c.category_name like concat('%',#{categoryName},'%')
            </if>
            and i.is_default =1
        </where>
    </select>

</mapper>
