<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.SizeMapper">

    <resultMap id="BaseResultMap" type="com.test.pojo.entity.Size">
            <id property="sizeId" column="size_id" jdbcType="BIGINT"/>
            <result property="sizeName" column="size_name" jdbcType="VARCHAR"/>
            <result property="goodsId" column="goods_id" jdbcType="BIGINT"/>
            <result property="inventory" column="inventory" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        size_id,size_name,goods_id,
        inventory
    </sql>
    <insert id="insertBatch">
        insert into trade_platform.size (size_name, goods_id,inventory) values
        <foreach collection="sizeList" separator="," item="item">
            (#{item.sizeName},#{item.goodsId},#{item.inventory})
        </foreach>
    </insert>


</mapper>
